##  Load and explore the dataset

In [43]:
# Load the pandas and numpy packages
import pandas as pd
import numpy as np

In [44]:
# Import csv file and save into data
df = pd.read_csv('../data/raw/beer_reviews.csv')

In [5]:
# Display the first 5 rows of data and all the columns
pd.options.display.max_rows
df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

An initial review of the above data suggests that:
1) There is a mix of numerical and categorical data.
2) brewery_id is representative of the brewery_name.
3) beer_beerid is representative of beer_name 
4) beer_beerid is a unique identifier

In [68]:
# Display the summary of columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586614 entries, 0 to 1586613
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   brewery_id          1586614 non-null  int64
 1   brewery_name        1586599 non-null  object
 2   review_time         1586614 non-null  int64
 3   review_overall      1586614 non-null  float64
 4   review_aroma        1586614 non-null  float64
 5   review_appearance   1586614 non-null  float64
 6   review_profilename  1586266 non-null  object
 7   beer_style          1586614 non-null  object
 8   review_palate       1586614 non-null  float64
 9   review_taste        1586614 non-null  float64
 10  beer_name           1586614 non-null  object
 11  beer_abv            1518829 non-null  float64
 12  beer_beerid         1586614 non-null  int64
dtypes: float64(6), int64(3), object(4)
memory usage: 157.4+ MB

The above query confirms there is a mix of categorical and numerical data. All features with data type 'object' [brewery_name, review_profilename, beer_style and beer_name] are categorical with the remaining beyond numerical. All categorical features will need to be converted to numerical. There also seem to be some missing values. Let us investigate further.

In [10]:
# Display the dimensions(shape) of data
df.shape

(1586614, 13)

There should be 13 features with 1,586,614 observations each.

In [16]:
# Display number of missing values in each column
df.isnull().sum()

brewery_id                0
brewery_name             15
review_time               0
review_overall            0
review_aroma              0
review_appearance         0
review_profilename      348
beer_style                0
review_palate             0
review_taste              0
beer_name                 0
beer_abv              67785
beer_beerid               0
dtype: int64

We see there are three columns with missing values: [brewery_name],[review_profilename] and [beer_abv]. The number of missing values for [brewery_name] and [review_profilename] is insignificant and therefore we will remove them. [beer_abv] has approximately 4.2% of the data missing which is too large to simply remove. We will therefore replace these values with the mean from all other observations of the same feature.

In [ ]:
# Display distribution of data for [beer_abv] to determine if median or mean if a more appropriate value to replace the missing values

In [29]:
#Create a for loop that will iterate through each columns and print their list of unique values
for col in df.columns:
  print(col)
  print(df[col].unique())

brewery_id
[10325  1075   163 ... 12566  7337  6102]
brewery_name
['Vecchio Birraio' 'Caldera Brewing Company' 'Amstel Brouwerij B. V.' ...
 'Wissey Valley Brewery' 'Outback Brewery Pty Ltd'
 'Georg Meinel Bierbrauerei KG']
review_time
[1234817823 1235915097 1235916604 ... 1160702513 1160023044 1160005319]
review_overall
[1.5 3.  4.  3.5 4.5 5.  2.  2.5 1.  0. ]
review_aroma
[2.  2.5 3.  4.5 3.5 5.  4.  1.5 1. ]
review_appearance
[2.5 3.  3.5 4.  5.  4.5 2.  1.  1.5 0. ]
review_profilename
['stcules' 'johnmichaelsen' 'oline73' ... 'hogshead' 'NyackNicky'
 'joeebbs']
beer_style
['Hefeweizen' 'English Strong Ale' 'Foreign / Export Stout'
 'German Pilsener' 'American Double / Imperial IPA' 'Herbed / Spiced Beer'
 'Light Lager' 'Oatmeal Stout' 'American Pale Lager' 'Rauchbier'
 'American Pale Ale (APA)' 'American Porter' 'Belgian Strong Dark Ale'
 'American IPA' 'American Stout' 'Russian Imperial Stout'
 'American Amber / Red Ale' 'American Strong Ale' 'Märzen / Oktoberfest'
 'American Adjunct Lager' 'American Blonde Ale' 'Euro Pale Lager'
 'English Brown Ale' 'Scotch Ale / Wee Heavy' 'Fruit / Vegetable Beer'
 'American Double / Imperial Stout' 'Belgian Pale Ale' 'English Bitter'
 'English Porter' 'Irish Dry Stout' 'American Barleywine'
 'Belgian Strong Pale Ale' 'Doppelbock' 'Maibock / Helles Bock'
 'Pumpkin Ale' 'Dortmunder / Export Lager' 'Euro Strong Lager'
 'Euro Dark Lager' 'Low Alcohol Beer' 'Weizenbock'
 'Extra Special / Strong Bitter (ESB)' 'Bock'
 'English India Pale Ale (IPA)' 'Altbier' 'Kölsch' 'Munich Dunkel Lager'
 'Rye Beer' 'American Pale Wheat Ale' 'Milk / Sweet Stout' 'Schwarzbier'
 'Vienna Lager' 'American Amber / Red Lager' 'Scottish Ale' 'Witbier'
 'American Black Ale' 'Saison / Farmhouse Ale' 'English Barleywine'
 'English Dark Mild Ale' 'California Common / Steam Beer' 'Czech Pilsener'
 'English Pale Ale' 'Belgian IPA' 'Tripel' 'Flanders Oud Bruin'
 'American Brown Ale' 'Winter Warmer' 'Smoked Beer' 'Dubbel'
 'Flanders Red Ale' 'Dunkelweizen' 'Roggenbier'
 'Keller Bier / Zwickel Bier' 'Belgian Dark Ale' 'Bière de Garde'
 'Japanese Rice Lager' 'Black & Tan' 'Irish Red Ale' 'Chile Beer'
 'English Stout' 'Cream Ale' 'American Wild Ale'
 'American Double / Imperial Pilsner'
 'Scottish Gruit / Ancient Herbed Ale' 'Wheatwine'
 'American Dark Wheat Ale' 'American Malt Liquor' 'Baltic Porter'
 'Munich Helles Lager' 'Kristalweizen' 'English Pale Mild Ale'
 'Lambic - Fruit' 'Old Ale' 'Quadrupel (Quad)' 'Braggot'
 'Lambic - Unblended' 'Eisbock' 'Berliner Weissbier' 'Kvass' 'Faro'
 'Gueuze' 'Gose' 'Happoshu' 'Sahti' 'Bière de Champagne / Bière Brut']
review_palate
[1.5 3.  2.5 4.  2.  3.5 4.5 5.  1. ]
review_taste
[1.5 3.  4.5 3.5 4.  2.5 2.  5.  1. ]
beer_name
['Sausa Weizen' 'Red Moon' 'Black Horse Black Beer' ... 'Baron Von Weizen'
 'Resolution #2' "The Horseman's Ale"]
beer_abv
[5.000e+00 6.200e+00 6.500e+00 7.700e+00 4.700e+00 3.500e+00 7.200e+00
 5.600e+00 7.400e+00 5.500e+00 5.800e+00 8.100e+00 6.100e+00       nan
 8.800e+00 5.700e+00 7.000e+00 6.300e+00 3.900e+00 6.700e+00 6.000e+00
 6.800e+00 5.400e+00 9.500e+00 4.800e+00 5.200e+00 9.400e+00 7.600e+00
 8.500e+00 4.000e+00 4.500e+00 4.200e+00 9.000e+00 8.000e+00 4.100e+00
 1.040e+01 5.100e+00 1.000e+01 3.800e+00 7.100e+00 4.600e+00 7.500e+00
 1.000e-01 8.400e+00 4.400e+00 4.900e+00 2.200e+00 2.800e+00 5.300e+00
 1.050e+01 9.800e+00 5.900e+00 1.200e+01 4.300e+00 5.790e+00 4.190e+00
 8.600e+00 1.090e+01 6.600e+00 9.300e+00 8.850e+00 8.300e+00 8.700e+00
 7.250e+00 3.750e+00 3.100e+00 5.250e+00 4.370e+00 1.110e+01 6.400e+00
 1.100e+01 5.000e-01 8.200e+00 1.130e+01 7.800e+00 6.900e+00 1.300e+01
 5.750e+00 4.750e+00 9.200e+00 1.500e+00 3.000e+00 3.700e+00 7.900e+00
 9.900e+00 8.900e+00 7.300e+00 2.500e+00 1.400e+01 1.500e+01 1.150e+01
 7.820e+00 1.025e+01 1.600e+01 1.010e+01 3.200e+00 3.400e+00 3.600e+00
 3.086e+01 5.770e+01 3.944e+01 4.300e+01 9.700e+00 8.250e+00 6.320e+00
 1.250e+01 1.280e+01 1.190e+01 1.260e+01 1.075e+01 9.600e+00 7.750e+00
 1.060e+01 1.020e+01 1.120e+01 9.100e+00 1.030e+01 6.250e+00 1.080e+01
 1.290e+01 5.470e+00 5.590e+00 5.110e+00 7.260e+00 2.400e+00 1.450e+01
 4.550e+00 1.550e+01 4.250e+00 1.430e+01 3.300e+00 2.000e+00 1.170e+01
 1.160e+01 1.210e+01 1.270e+01 1.200e+00 1.470e+01 1.820e+01 1.950e+01
 1.830e+01 1.700e+01 1.850e+01 6.660e+00 1.410e+01 5.140e+00 2.750e+00
 4.530e+00 8.410e+00 7.850e+00 1.225e+01 1.230e+01 6.750e+00 7.770e+00
 1.003e+01 1.028e+01 7.170e+00 2.700e+00 1.400e+00 2.900e+00 3.440e+00
 5.000e-02 4.620e+00 4.950e+00 3.950e+00 1.125e+01 5.610e+00 1.840e+01
 6.450e+00 1.070e+01 4.770e+00 7.370e+00 8.750e+00 9.960e+00 1.140e+01
 1.000e+00 9.000e-01 5.720e+00 6.950e+00 3.250e+00 2.600e+00 4.140e+00
 5.950e+00 7.150e+00 5.870e+00 5.410e+00 5.530e+00 5.620e+00 1.180e+01
 6.850e+00 5.350e+00 7.390e+00 9.750e+00 9.250e+00 5.650e+00 5.680e+00
 5.290e+00 1.350e+01 6.080e+00 5.570e+00 7.520e+00 1.220e+01 1.800e+01
 4.450e+00 4.650e+00 1.920e+01 1.630e+01 1.320e+01 1.750e+01 1.000e-02
 5.450e+00 2.100e+01 2.500e+01 4.350e+00 2.700e+01 2.400e+01 5.010e+00
 4.740e+00 4.630e+00 3.790e+00 4.940e+00 4.780e+00 4.280e+00 9.780e+00
 4.720e+00 7.230e+00 5.930e+00 1.800e+00 3.880e+00 4.730e+00 1.240e+01
 2.100e+00 5.860e+00 4.000e-01 2.160e+00 4.850e+00 5.630e+00 5.380e+00
 5.240e+00 5.150e+00 4.660e+00 3.650e+00 1.510e+01 5.970e+00 3.670e+00
 4.130e+00 1.165e+01 1.098e+01 6.550e+00 9.990e+00 5.360e+00 1.115e+01
 1.390e+01 3.000e-01 5.780e+00 1.610e+01 5.270e+00 4.150e+00 5.430e+00
 5.690e+00 5.540e+00 6.820e+00 4.460e+00 6.150e+00 6.710e+00 1.650e+01
 1.330e+01 7.130e+00 5.560e+00 1.001e+01 1.017e+01 1.370e+01 5.120e+00
 4.810e+00 1.360e+01 4.860e+00 1.490e+01 5.190e+00 6.330e+00 6.310e+00
 7.710e+00 4.160e+00 7.450e+00 7.330e+00 5.880e+00 6.240e+00 5.940e+00
 5.820e+00 6.070e+00 5.280e+00 6.870e+00 2.500e-01 2.200e+01 5.130e+00
 4.880e+00 6.130e+00 5.980e+00 3.710e+00 5.330e+00 5.180e+00 6.270e+00
 9.040e+00 5.740e+00 1.340e+01 1.159e+01 6.230e+00 6.670e+00 1.175e+01
 5.050e+00 1.680e+01 9.230e+00 7.680e+00 5.310e+00 1.683e+01 4.380e+00
 8.690e+00 8.720e+00 8.590e+00 5.460e+00 8.650e+00 6.880e+00 7.690e+00
 1.008e+01 1.103e+01 1.645e+01 1.603e+01 9.460e+00 1.810e+01 1.543e+01
 9.540e+00 8.120e+00 9.910e+00 1.590e+01 9.730e+00 9.620e+00 5.810e+00
 6.380e+00 5.170e+00 4.260e+00 5.160e+00 1.937e+01 2.300e+00 5.420e+00
 1.013e+01 5.520e+00 4.960e+00 5.510e+00 6.290e+00 3.540e+00 1.141e+01
 9.850e+00 7.790e+00 7.570e+00 5.550e+00 1.014e+01 6.350e+00 4.100e+01
 2.800e+01 3.200e+01 1.027e+01 1.720e+01 5.730e+00 8.240e+00 5.670e+00
 9.710e+00 8.270e+00 8.190e+00 1.104e+01 5.340e+00 7.080e+00 8.970e+00
 6.140e+00 4.320e+00 3.990e+00 2.920e+00 4.080e+00 7.580e+00 6.980e+00
 6.770e+00 4.340e+00 4.330e+00 1.380e+01 6.190e+00 4.640e+00 4.390e+00
 1.310e+01 5.910e+00 1.212e+01 1.502e+01 1.199e+01 9.390e+00 3.930e+00
 9.440e+00 1.006e+01 7.480e+00 1.126e+01 1.058e+01 8.660e+00 4.870e+00
 4.970e+00 5.640e+00 6.560e+00 7.090e+00 5.990e+00 4.290e+00 2.600e+01
 3.900e+01 9.050e+00 2.250e+00 4.010e+00 4.980e+00 4.890e+00 1.031e+01
 4.500e-01 1.735e+01 4.590e+00 7.000e-01 4.790e+00 9.180e+00 1.740e+01
 1.640e+01 1.520e+01 1.620e+01 2.900e+01 8.030e+00 8.550e+00 8.080e+00
 4.580e+00 7.430e+00 7.510e+00 6.180e+00 5.090e+00 4.560e+00 4.410e+00
 9.350e+00 4.990e+00 6.780e+00 9.610e+00 4.910e+00 6.040e+00 4.670e+00
 4.830e+00 5.040e+00 7.880e+00 6.090e+00 7.670e+00 4.310e+00 3.130e+00
 1.076e+01 5.850e+00 4.480e+00 3.610e+00 9.740e+00 6.650e+00 4.170e+00
 1.043e+01 5.060e+00 5.890e+00 6.830e+00 7.920e+00 7.240e+00 8.060e+00
 8.330e+00 1.167e+01 8.880e+00 4.510e+00 1.504e+01 9.150e+00 2.000e+01
 5.320e+00 4.440e+00 5.390e+00 6.720e+00 6.210e+00 5.830e+00 6.590e+00
 5.480e+00 6.860e+00 6.420e+00 8.000e-01 8.340e+00 1.690e+01 1.316e+01
 5.210e+00 5.070e+00 8.470e+00 8.170e+00 1.101e+01 7.610e+00 7.070e+00
 4.760e+00 8.020e+00 8.000e-02 7.620e+00 7.740e+00 7.830e+00 6.110e+00
 3.530e+00 8.740e+00 9.280e+00 5.770e+00 1.700e+00 4.060e+00 4.680e+00
 7.210e+00 2.192e+01 1.460e+01 1.560e+01 1.530e+01 7.870e+00 5.580e+00
 5.230e+00 8.350e+00 1.900e+00 1.325e+01 5.440e+00 5.020e+00 4.470e+00
 7.990e+00 7.350e+00 6.610e+00 6.580e+00 8.210e+00 1.250e+00 8.670e+00
 3.220e+00 8.260e+00 1.300e+00 4.690e+00 1.037e+01 1.024e+01]
beer_beerid
[47986 48213 48215 ... 48360 43233 33061]

We see the categorical variables [brewery_name, review_profilename, beer_style and beer_name] are all nominal (without order) and thus should be encoded to numeric with One Hot Encoding. However to avoid the creation of multiple columns for the target variable, we will label encode [beer_style] instead.

In [36]:
n = len(pd.unique(df['beer_beer_id']))
  
print("No.of.unique values :", 
      n)

No.of.unique values : 56857

We see the number of unique values for beer_beer_id does not match the number of rows in the dataset (1586614) and therefore we can rule out it being a unique identifier.

In [18]:
# Display the descriptive statistics
df.describe()

,brewery_id,review_time,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,beer_beerid
count,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.518829e+06,1.586614e+06
mean,3.130099e+03,1.224089e+09,3.815581e+00,3.735636e+00,3.841642e+00,3.743701e+00,3.792860e+00,7.042387e+00,2.171279e+04
std,5.578104e+03,7.654427e+07,7.206219e-01,6.976167e-01,6.160928e-01,6.822184e-01,7.319696e-01,2.322526e+00,2.181834e+04
min,1.000000e+00,8.406720e+08,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e-02,3.000000e+00
25%,1.430000e+02,1.173224e+09,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,5.200000e+00,1.717000e+03
50%,4.290000e+02,1.239203e+09,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,6.500000e+00,1.390600e+04
75%,2.372000e+03,1.288568e+09,4.500000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.500000e+00,8.500000e+00,3.944100e+04
max,2.800300e+04,1.326285e+09,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.770000e+01,7.731700e+04

At first glance, values for all features seem valid. Review scores range between 0 and 5, there are no negative values and all minimum and maximum values align with logical expectations given the context of the data.

##### Data Preparation

In [45]:
#Create a copy of df and save it into a variable called df_cleaned

df_cleaned = df.copy()

In [46]:
#Remove missing values for 'brewery_name' and 'review_profilename' 
df_cleaned = df_cleaned.dropna(how='any',subset=['brewery_name', 'review_profilename'])

In [47]:
# Replace missing value in 'beer_abv' with its mean
beer_abv_mean = df_cleaned['beer_abv'].mean()
df_cleaned['beer_abv'] = df_cleaned['beer_abv'].fillna(beer_abv_mean)

In [48]:
df_cleaned.shape

(1586251, 13)

In [6]:
# Display number of missing values in each column
df_cleaned.isnull().sum()

brewery_id            0
brewery_name          0
review_time           0
review_overall        0
review_aroma          0
review_appearance     0
review_profilename    0
beer_style            0
review_palate         0
review_taste          0
beer_name             0
beer_abv              0
beer_beerid           0
dtype: int64

No missing values remain.

In [6]:
# Check the whether there are duplicate rows
sum(df_cleaned.duplicated())

0

##### One Hot Encoding

In [49]:
#Check number of unique values for all categorical variables

n1 = len(pd.unique(df_cleaned['brewery_name']))
  
print("No.of.unique values 'brewery_name' :", 
      n1)

n2 = len(pd.unique(df_cleaned['review_profilename']))
  
print("No.of.unique values 'review_profilename' :", 
      n2)

n3 = len(pd.unique(df_cleaned['beer_style']))
  
print("No.of.unique values 'beer_style' :", 
      n3)

n4 = len(pd.unique(df_cleaned['beer_name']))
  
print("No.of.unique values 'beer_name' :", 
      n4)

No.of.unique values 'brewery_name' : 5742
No.of.unique values 'review_profilename' : 33387
No.of.unique values 'beer_style' : 104
No.of.unique values 'beer_name' : 56847

[brewery_name, review_profilename and beer_name] in particular have excessive unique values and thus are not suited for one hot encoding. [beer_style] is the target variable. If we perform one hot encoding it will create multiple columns for the single feature which we want to avoid in this case. Therefore we shall label encode instead as an alternative measure.

NOTE: The below one hot encoding was attempted to see if encoding [brewery_name, review_profilename and beer_name] was feasible. Errors were run into, specifically "MemoryError: Unable to allocate 1.11 TiB for an array with shape (1586251, 95976) and data type float64". To confirm with Anthony and William whether there is a means to resolve this as online research has not yielded a solution. Alternatively, to discuss if ordinal encoding should be utilised or if the columsns hould just be removed instead.

In [ ]:
# Import OneHotEncoder from sklearn.preprocessing

from sklearn.preprocessing import OneHotEncoder

In [51]:
# Import OneHotEncoder from sklearn.preprocessing

from sklearn.preprocessing import OneHotEncoder

In [52]:
#Create a list called cat_cols that contains all categoricals except for the target - 'brewery_name', 'review_profilename' and 'beer_name'
cat_cols = ['brewery_name', 'review_profilename', 'beer_name']

In [53]:
#Instantiate a OneHotEncoder and called it ohe
ohe = OneHotEncoder(sparse=False)

In [54]:
#Perform One-Hot encoding on cat_cols and save them into a dataframe called X_cat

X_cat = pd.DataFrame(ohe.fit_transform(df_cleaned[cat_cols]))

MemoryError: Unable to allocate 1.11 TiB for an array with shape (1586251, 95976) and data type float64

In [41]:
#Extract the feature names from ohe and replace the names of the columns of the X_cat

X_cat.columns = ohe.get_feature_names(cat_cols)

C:\Users\chant\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [42]:
# Drop the original columns of cat_cols from df_cleaned

df_cleaned.drop(cat_cols, axis=1, inplace=True)

In [43]:
#Concatenate df_cleaned with X_cat and save the result to a variable called X

X = pd.concat([df_cleaned, X_cat], axis=1)

In [ ]:
#Drop categorical variables except target variable as temporary measure (note: this will be removed if one hot encoding can function for these variables)
df_cleaned.drop('brewery_name', axis=1, inplace=True)
df_cleaned.drop('review_profilename', axis=1, inplace=True)
df_cleaned.drop('beer_name', axis=1, inplace=True)

##### Data Preparation

In [22]:
#Label Encode the Target Variable 

# Import label encoder 
from sklearn import preprocessing

# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder()

# Encode labels in column 'Country'. 
df_cleaned['beer_style']= label_encoder.fit_transform(df_cleaned['beer_style'])
print(df_cleaned.head())

   brewery_id  review_time  review_overall  review_aroma  review_appearance  \
0       10325   1234817823             1.5           2.0                2.5
1       10325   1235915097             3.0           2.5                3.0
2       10325   1235916604             3.0           2.5                3.0
3       10325   1234725145             3.0           3.0                3.5
4        1075   1293735206             4.0           4.5                4.0

   beer_style  review_palate  review_taste  beer_abv  beer_beerid
0          65            1.5           1.5       5.0        47986
1          51            3.0           3.0       6.2        48213
2          59            3.0           3.0       6.5        48215
3          61            2.5           3.0       5.0        47969
4           9            4.0           4.5       7.7        64883

In [8]:
df_cleaned['beer_style'].shape

(1586251,)

In [23]:
# Import StandardScaler from sklearn.preprocessing and instantiate the StandardScaler
from sklearn.preprocessing import StandardScaler

sc=StandardScaler()

In [24]:
#create a variable called num_cols including numerical features
num_cols = ['brewery_id', 'review_time','review_overall', 'review_aroma', 'review_appearance','review_palate','review_taste','beer_abv','beer_beerid']

In [25]:
# Fit and apply the scaling on data_cleaned
df_cleaned[num_cols]=sc.fit_transform(df_cleaned[num_cols])

In [26]:
# Import dump from joblib and save the scaler into the folder models and call the file scaler.joblib
from joblib import dump

dump(sc, '../models/scaler_dropped_NN.joblib')

['../models/scaler_dropped_NN.joblib']

In [27]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [28]:
# Import function scaler_split_train_test from data.sets and split into training, validation and test datasets

import sys
sys.path.insert(1, '..')

from src.data.sets import split_sets_random

X_train, y_train, X_val, y_val, X_test, y_test = split_sets_random(df_cleaned, target_col='beer_style', test_ratio=0.2)

In [30]:
# Import the function save_sets from sets and save the sets into the folder data/processed
from src.data.sets import save_sets
save_sets(X_train, y_train, X_val, y_val,X_test, y_test, path='../data/processed/beer_type')

In [31]:
# Import the function load_sets from sets and load the sets from data/processed
from src.data.sets import load_sets
X_train, y_train, X_val, y_val, X_test, y_test = load_sets(path='../data/processed/beer_type')

### Baseline Model

In [32]:
#Import NullModel from src.models.null
from src.models.null import NullModel

In [33]:
# Instantiate a NullModel and call .fit_predict() on the training target to extract your predictions into a variable called y_base
baseline_model = NullModel()

In [34]:
baseline_model = NullModel(target_type='classification')

y_base = baseline_model.fit_predict(y_train)

c:\Users\chant\OneDrive\Desktop\Advanced DS for Innovation\Projects\Beer_Type_Prediction\notebooks\..\src\models\null.py:43: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  self.pred_value = mode(y)[0][0]

In [35]:
#Import print_reg_perf from src.models.performance

from src.models.performance import print_class_perf

In [36]:
#Print the classification metrics for this baseline model

print_class_perf(y_preds=y_base, y_actuals=y_train, set_name='Training', average='weighted')

Accuracy Training: 0.07405306015235093
F1 Training: 0.010211517328854941